@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  overflow-x: hidden;
  width: 100%;
}

.overflow-x-auto {
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}
